body {
    background-color: #282c34;
}


.argoH1{
text-align: center;
color: brown;
}
.c-form {
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 25px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(225, 241, 249);
    background-color: white;
}
.buttonsbmt{
    width: 30vh;
}
.grid-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    font-weight: 600;
    justify-items: center;
    /* centre les éléments horizontalement */
    align-items: center;
    /* centre les éléments verticalement */
    height: 10vh;
    /* défini la hauteur de la grille à 100% de la vue */
}
.App-header {
   
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
